.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(71,50,26,255);
    color: aliceblue;
 }

 h1{
     font-size:50px;
    
 }
 
 .content{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
 
}

li{
    
    padding: 25px;
}
.main-container{
display: flex;
justify-content: space-around;
background-color: rgba(55,35,10,255);

}
h2{
    color: #be7731;
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: #a39570;
    font-size: 25px;
}
