.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(71,50,26,255);
    color: aliceblue;
 }

 h1{
     font-size:50px;
    
  }
 
 .content{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
 
}

li{
    
    padding: 25px;
}

.cup{
    font-size: 50px;
    position: relative;
    padding-top: 35px;
    padding-right: 20px;
}
.logo{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
} 
