.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(71,50,26,255);
    color: aliceblue;
  
 }

 h1{
     font-size:60px;
    
  }
 
 .content{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    font-size:30px;
    font-family:'Courier New', Courier, monospace;

 
}
li:hover{
    color: #C8914B;
}

li{
    
    padding: 25px;
}

.cup{
    font-size: 60px;
    position: relative;
    padding-top: 35px;
    padding-right: 30px;
}
.logo{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
} 
.main-container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(55,35,10,255);
    width: 90%;
    margin-left: 100px;
    justify-content: center;
    }

    h2{
        color: #BE7731;
        font-size:50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h3{
        color: aliceblue;
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    p{
        color: #A39570;
        font-size: 25px;
    }
    .button{
        display: flex;
        flex-direction:row;
     }
     .button1{
         margin: 0 20px;
         font-size: 20px;
         border-radius: 50px;
         padding: 10px 20px ;
         background-color: #C8914B;
     }
     .button2{
         margin: 0 20px;
         font-size: 20px;
         border-radius: 50px;
         padding: 10px 20px ;
         background-color:rgba(55,35,10,255);
         border: 2px solid white;
         color:#aea799;
     }
     .button1:hover{
        transform: scale(0.8) ;
     }
  .hotcoffee{
      width: 100vw;
      height: 30vw;
      padding-right: 20px;
      padding-bottom: 100px;
  }
     img{
        width:60%;
        padding: 100px;
       }

     img:hover{
        transform: scale(1.5) ;
     }
     .content-container{
        padding-top:70px;
        padding-left: 50px;
        width: 80vw;
        height: 20vw;

        
    }
    .main{
        display: flex;
        background-color: #503719;
        width: 90%;
        margin-left: 100px;
        font-size: 10px;
    }
    .part{
        display: unset;
        padding-top: 80px;
        text-align: center;
        padding-right: 220px;
        width: 60vw;
        height:5vw;

       
    }

    .part1{
        color: aliceblue;
        text-decoration: underline solid burlywood;
        font-size: 40px;
       
    }

    .part2{
        color:#aea799;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
       
       
    }

    .heartcup{
        width: 70%;
     
    }
    .menu{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        color:#a9a195;
        width: 90%;
        padding-left: 100px;
        padding-bottom: 100px;
        text-align: center;
        
    
    }
    .menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover,.menu5:hover,.menu6:hover{
        transform: scale(1.1) ;
    }
   

    strong{
        font-size: 25px;
        color: #d6d5d6;
    }
    .main-menu{
        background-color: #37230a;
        border-style: solid ;
        border-width: 5px;
        border-color: rgb(206, 135, 63);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 90%;
        margin-left: 100px;
        
    }
    
   .ourmenu{
    text-align: center;
    font-size: 50px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline solid burlywood;
   }
   .img{
      padding: 10px 10px;
      width: auto;
     
     
   }
   .note{
    display:grid;
    border-style: initial;
    border: 1px solid orange;
    text-align: center;
    margin: 0 8px;
    font-size: 20px;

   }
  .img1{
    padding-top: 125px;
  }
  .img5{
    padding-inline-start: 70px;
  }
  .img6{
    padding-bottom: 7px;
  }

  .section1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline solid burlywood;
  }
  .section2{
    display: flex;
    opacity: 0.4;
    border-style: initial;
    border: 5px solid #BE7731;
  }
  .Big{
    background-color: rgba(70,50,25,255);
    width:90%;
    height: 70vw;
    margin-left: 100px;

  }
  .topic{
    padding-top: 10px;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    text-decoration: underline solid burlywood;
  }
  .gallery{
   
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    padding-right:200px;
    padding-top: 50px;
    margin: 0 10px;
    gap: 6px 12px;
   
   
  }
 .photo{
    width:170%;
    height: 13vw;
    cursor: pointer;
    
 }
.photo:hover{
    transform: scale(0.8) rotate(-15deg);
     border-radius: 30px; 
}
.contactus{
    padding-top: 10px;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    text-decoration: underline solid #bb8746;
}
.contact{
    background-color: #463219;
    width: 90%;
    height: 35vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
   
    
}
.form{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: space-around;
    padding-top: 100px;
}
.boxset{
    font-size: 40px;
    border-radius: 20px;
    padding: 10px;
}
.wordset{
    padding-top: 50px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
textarea{
    outline: none;
   padding-top: 15px;
   padding-left: 40px;
   border-radius: 7px;
   margin: 8px;
}
button{
    padding: 10px 28px;
    text-align: center;
    background-color: #37230a;
    color:aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:  25px;
    border: 2px solid #37230a;
}
button:hover{
    transform: scale(1.2);
}